body {
    background-color: #ffede0;
}

img {
    width: 100%;
}

#tophr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-bottom: 3rem;
}

#heading {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

#name {
    font-family: 'Fondamento', cursive;
    font-size: 5em;
    display: inline;
}

#Aboutme {
    font-family: 'Lora', serif;
    font-size: 1.5em;
    margin-left: 2%;
    display: inline;
}

.navbar-brand {
    /* font-weight: bold;
    font-style: italic; */
    font-family: 'Monoton';
    font-size: 50px;
}

.navbar {
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 1.1em;
    background-color: #ffede0;
}

.center {
    font-size: 1.3em;
    padding-left: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    padding-bottom: 5vw;
}

.acadContent {
    padding-top: 2vw;
    display: block;
    padding: auto;
}

.projectTitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-decoration: underline;
    margin-bottom: 3vw;
}

.projectContent {
    font-size: 1.2em;
}

#seriesHeading {
    margin-bottom: 5vw;
    color: #9e2f39;
    text-align: center;
    font-family: 'Bangers', cursive;
}

.card {
    background-color: #ffede0;
}

.social {
    font-size: 1.4em;
}

.card-title {
    font-family: 'Merienda One', cursive;
    font-size: 1.3em;
}

.card-subtitle {
    font-size: 0.9em;
    float: right;
}

.card-text {
    font-family: 'Philosopher', sans-serif;
}

#thanks {
    margin-top: 3em;
    text-align: center;
    font-family: 'Satisfy', cursive;
    margin-bottom: 1.5em;
}

@media screen and (max-width: 510px) {
    #heading {
        font-size: 8px;
    }
}

@media screen and (max-width: 768px) {
    .center {
        padding-left: 0;
        margin-top: 1.4em;
    }
    
    .row {
        display: table;
    }
    
    .acadContent {
        display: table-footer-group;
    }

    .image {
        display: table-header-group;
    }
}

@media screen and (max-width: 992px) {
    .center {
        padding-left: 1.5em;
    }
}

